.btn {
    color: #FFF;
    text-align: center;
    font-family: unset;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

    border-radius: 110px;
    background-color: #A5D364;
    border: none;

    cursor: pointer;
    padding: 15px 0;
}

.btn:hover {
    background-color: #8db654;
}


.btn:active {
    background-color: #759744;
}