.cart__item {
    width: 325px;
    height: 120px;
    position: relative;

    border-radius: 20px;
    border: 1px solid #F3F3F3;
    background-color: #FFF;

    display: inline-block;
    margin-top: 20px;
    padding: 20px;
}

.cart__img {
    float: left;
    margin-right: 20px;
}

.cart__title {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}

.cart__price {
    font-size: 14px;
    font-weight: 700;
    margin-top: 8px;
}

.cart__cross {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}